

/*################### Modal Stuff ###############*/
 body {
    padding: 2px;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.quizBox {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    background-color: transparent; 
    position: relative;
    display: grid;
    grid-template-rows: 1fr, auto, 1fr;
    grid-template-columns: 25px, 1fr 25px;
    grid-template-areas: 
    ". . . x"
    "q q q q"
    ". b b2 .";
    color: orange;
    justify-items: center;
    align-items: center;
}

.questions {
    grid-area: q;
    font-size: 25px;
    text-align: center;
}

.x {
    grid-area: x;
    border-radius: 25px;
    color: white;
    padding: 5px;
    background-color:orange;
    border: solid white 2px;
    font-size: 25px;
    font-weight: 800;
}

.truebtn {
    grid-area: b;
    border-radius: 30%;
    color: white;
    padding: 3px;
    background-color:orange;
    border: solid white 2px;
    
}
.falsebtn {
    grid-area: b2;
    border-radius: 30%;
    color: white;
    padding: 3px;
    background-color:orange;
    border: solid white 2px;
}

.falsebtn:hover {
    background-color: white;
    border: solid orange 3px;
    color: orange;
}

.falsebtn:active {
    background-color: rgba(248, 147, 80, 0.5);
}

.truebtn:hover {
    background-color: white;
    border: solid orange 3px;
    color: orange;
}

.truebtn:active {
    background-color: rgba(248, 147, 80, 0.5);
}

.x:hover {
    background-color: white;
    border: solid orange 3px;
    color: orange;
}

.x:active {
    background-color: rgba(248, 147, 80, 0.5);
}

/*################### Modal Stuff ###############*/


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12, 1fr)); 
    grid-template-rows: 40px auto 40px;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";

    grid-gap: 3px;
    color: tan;
    font-size: 24px;
    text-align: center;
    align-content: center;
}

.header {
    justify-content: center;
    grid-area: h;
    /* grid-column: 1 / -1; */
    background-color: rgba(56, 54, 54);
    display: flex;
    
}

.header > div:nth-child(1) {
    /* margin-left: auto;  */
    align-content: center;
    background-color: transparent;
}

.content {
    background-image: url(images/background/free-hand-drawn-vector-landscape-illustration.jpg);
    background-size: 100% 100%;
    grid-area: c;
    /* grid-column: 1 / -1; */
    background-color: palegoldenrod;
    display: grid;
    grid-gap: 2px;
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(6, 1fr)); */
    grid-template-columns: 75px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a d d d d d"
        "b d d d d d"
        "c d d d d d" 
}

.box{
    background-color: rgba(0, 0, 0, 0.5);

}

.boxOne {
    grid-area: a;
    background-image: url(images/icons/petIcon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    align-content: center;
    background-position: center;
    padding: 0;
}


.boxOne:active {
    background-size: 60px;
    
}

.boxTwo {
    grid-area: b;
    background-image: url(images/icons/feedButton.png);
    background-size: 50px;
    background-repeat: no-repeat;
    align-content: center;
    background-position: center;
}

.boxTwo:active {
    background-size: 60px;
}

.boxThree {
    
    /* grid-column: 2 / 3;
    grid-row: 3 / 4; */
    grid-area: c; 
    background-image: url(images/icons/playButton.png);
    background-size: 50px;
    background-repeat: no-repeat;
    align-content: center;
    background-position: center;
    
    /* background-color: palegreen; */
}

.boxFour {
    grid-area: d;
    display: grid;
    /* grid-gap: 2px; */
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "cl sm cld"
        "f p ."
         

}

/* #################################################Weather Images ##################################*/

.displaySun {
    grid-area: cl;
    background-color: transparent;
    justify-content: left;

}

.displayFood {
    grid-area: f;

}

.displayClouds {
    grid-area: sm;
    background-color: transparent;
}s

.displayMoon {
    grid-area: cld;
    background-color: transparent;
}

.displayPet {
    grid-area: p;
    background-color: transparent;
    
}

.displayFoodImg {
    width: 100px;
    background-position: center;
    margin: 0 auto;
}

.displaySunImg {
    width: 100px;
}

.displayCloudsImg {
    width: 100px;
}
.displayMoonImg {
    width: 100px;
}

.displayPetImg {
    width: 100px;
    height: 100px;
}


/* #################################################Weather Images ##################################*/

.footer {
    grid-area: f;
    /* grid-column: 1 / -1; */
    background-color: rgba(56, 54, 54);
    align-content: end;
}



@media screen and (min-width: 730px) {
    .body {
        padding: 2px;
        width: 100%;
        height: 100%;
        background-color: black;
    }


/*################### Modal Stuff ###############*/
.body {
    padding: 2px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.quizBox {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    background-color: transparent; 
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 25px, 1fr 25px;
    grid-template-areas: 
    ". . . x"
    "q q q q"
    ". b b2 .";
    color: orange;
    justify-items: center;
    align-items: center;
}

.questions {
    grid-area: q;
    font-size: 25px;
    text-align: center;
}

.x {
    grid-area: x;
    border-radius: 25px;
    color: white;
    padding: 5px;
    background-color:orange;
    border: solid white 2px;
    font-size: 25px;
    font-weight: 800;
}

.truebtn {
    grid-area: b;
    border-radius: 30%;
    color: white;
    padding: 2px;
    background-color:orange;
    border: solid white 2px;
}
.falsebtn {
    grid-area: b2;
    border-radius: 30%;
    color: white;
    padding: 2px;
    background-color:orange;
    border: solid white 2px;
    
}

/*################### Modal Stuff ###############*/

    .container {
        display: grid;
        grid-gap: 3px;
        color: tan;
        font-size: 24px;
        text-align: center;
        align-content: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px 650px 40px;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f"
    }
    
    .header {
        grid-area: h;
        background-color: rgba(56, 54, 54);
        display: flex;
    }

    .header > div:nth-child(3) {
        margin-left: auto; 
    }
    
    
    .content {
        grid-area: c;
        background-color: palegoldenrod;
        display: grid;
        /* grid-gap: 2px; */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "a d d d d d"
            "b d d d d d"
            "c d d d d d" 
    }
    .box{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .boxOne {
        
        grid-area: a;
        padding: 0;
        background-image: url(images/icons/petIcon.png);
        background-size: 75px;
        background-repeat: no-repeat;
        align-content: center;
        background-position: center;
        /* grid-column: 1 / 2;
        grid-row: 1 / 2; */
    }
    
    .boxTwo {
        /* grid-column: 1 / 2;
        grid-row: 2 / 3;  */
        grid-area: b;
        background-image: url(images/icons/feedButton.png);
        background-size: 75px;
        background-repeat: no-repeat;
        align-content: center;
        background-position: center;
        
    }
    
    .boxThree {
        /* grid-column: 2 / 3;
        grid-row: 3 / 4; */
        grid-area: c; 
        background-image: url(images/icons/playButton.png);
        background-size: 75px;
        background-repeat: no-repeat;
        align-content: center;
        background-position: center;
        
    }
    
    .boxFour {
        grid-area: d;
        /* background-color: palegreen; */
    }

    .displayFoodImg {
        width: 250px;
        background-position: center;
        margin: 0 auto;
    }
    
.displaySunImg {
    width: 250px;
}

.displayCloudsImg {
    width: 250px;
}
.displayMoonImg {
    width: 250px;
}

.displayPetImg {
    width: 270px;
    height: 270px;
}

    
    .footer {
        grid-area: f;
        text-align: center;
    }



} 
/* adding css for buttons */
/* #feedButton{
    height:200px;
    width:200px;
    margin: 0 auto;

}
#playButton{
    height:200px;
    width:200px;
    margin: 0 auto;

}
#petButton{
    height:200px;
    width:200px;
    margin: 0 auto;

} */